<template>
  <!-- .card-group>.card>img+.card-body>.card-title -->
  <div class="card-group">
    <div class="card mb-3" 
            v-for="album in albums" :key="album.id">
      <img class="card-img-top" :src="album.images[0].url">
      <div class="card-body">
        <h3 class="card-title">{{album.name}}</h3>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { Album } from "@/models/Album";

@Component({})
export default class AlbumsGrid extends Vue {
  @Prop()
  albums!: Album[];
}
</script>

<style scoped>
  .card {
    flex: 0 0 25% !important;
  }
</style>
