<template>
  <div class="list-group">
    <div
      class="list-group-item"
      v-for="(playlist,index) of items"
      :key="playlist.id"
      @click="select(playlist)"
      :class="{active: selected && playlist.id == selected.id}"
      v-bind="{'data-id':playlist.id}"
    >{{index+1}}. {{playlist.name}}</div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Playlist } from "@/models/Playlist";
import { Prop } from "vue-property-decorator";

@Component({
  // props: ["items"]
})
export default class ItemsList extends Vue {
  
  @Prop()
  items!: Playlist[];

  @Prop()
  selected!: Playlist;

  select(playlist:Playlist){
    // this.selected = playlist
    this.$emit('select',playlist)
  }
}
</script>

<style>
</style>
