<template>
  <form @submit.prevent="save($event,'placki')">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" v-model="draft.name">
    </div>

    <div class="form-group">
      <label>Favourite</label>
      <input type="checkbox" v-model="draft.favourite">
    </div>

    <div class="form-group">
      <label>Color</label>
      <input type="color" v-model="draft.color">
    </div>
    <input type="button" value="Cancel" class="btn btn-danger" @click="cancel">
    <input type="submit" value="Save" class="btn btn-success">
  </form>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";

@Component({
  // beforeCreate(){},
  // template:'<div></div>'
})
export default class PlaylistForm extends Vue {
  @Prop()
  playlist!: Playlist;

  draft: Playlist | null = null;

  created() {
    this.draft = {
      ...this.playlist
    };
  }

  cancel() {
    this.$emit("cancel");
  }

  save() {
    this.$emit("save", this.draft);
  }
}
</script>

<style>
</style>
