<template>
  <div>
    <dl
      :id="playlist.id"
      v-bind="{
            title:playlist.name,
            label:playlist.name,
          }"
    >
      <dt>Name:</dt>
      <dd>{{playlist.name}}</dd>

      <dt>Favourite</dt>
      <dd>{{playlist.favourite? 'Yes' : 'No' }}</dd>

      <dt>Color</dt>
      <dd
        style="background:lightgray"
        :style="{
              color: playlist.color  
            }"
      >{{playlist.color}}</dd>
    </dl>
    <input type="button" value="Edit" class="btn btn-info" @click="edit()">
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";

@Component({})
export default class PlaylistDetails extends Vue {
  @Prop()
  playlist!: Playlist;

  edit() {
    this.$emit("edit");
  }

  
  beforeCreate(...args:any[]){
    console.log('beforeCreate',args)
  }
  
  created(...args:any[]){
    console.log('created',args)
  }

  beforeMount(...args:any[]){
    console.log('beforeMount',args)
  }
  mounted(...args:any[]){
    console.log('mounted',args)
  }

  beforeUpdate(...args:any[]){
    console.log('beforeUpdate',args)
  }
  updated(...args:any[]){
    console.log('updated',args)
  }
  
  beforeDestroy(...args:any[]){
    console.log('beforeDestroy',args)
  }
  destroyed(...args:any[]){
    console.log('destroyed',args)
  }
}
</script>

<style>
</style>
