<template>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      v-bind="$attrs"
      v-on="$listeners"
      :value="value"
      @input="valueChange($event.target.value)"
      @keyup.enter="search($event.target.value)"
    >
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  inheritAttrs: false,
  props: ["value"],
  model: {
    prop: "value", // "value"
    event: "myInput" // "input"
  }
})
export default class QueryInput extends Vue {
  value!: string;

  search(query: string) {
    this.$emit("search", query);
  }

  lastTimeout!: number;

  valueChange(value: string) {
    this.$emit('myInput',value)  

    clearTimeout(this.lastTimeout);
    this.lastTimeout = setTimeout(() => {
      this.search(value);
    }, 400);
  }
}
</script>
