<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hello Vue!</h1>

    <div id="placki-root">
        <p>Greeting: <span>{{ greet() }}</span> </p>
        <input type="text" value="ala ma kota"> <span> i {{person.placki}} </span>
    </div>


    <script src="https://unpkg.com/vue"></script>
    <script>

        var app = new Vue({
            el: '#placki-root',
            data: {
                person: {
                    name: 'Mr Pancake'
                },
                // message: 'Lubię Vue-placki'
            },
            methods: {
                greet: function (who) {
                    return 'Hello ' + this.person.name
                    // return 'Hello ' + who
                }
            }
        })

    </script>
</body>

</html>