<template>
  <div id="app">
    <!-- https://getbootstrap.com/docs/4.2/components/navbar/#nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link class="navbar-brand" to="/">Music App</router-link>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!-- <a @click="$router.push({name:'search'}"></a> -->
              <router-link class="nav-link" active-class="active placki" :to="{name:'search'}">Search</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" active-class="active placki" to="playlists">Playlists</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>



<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Playlists from "@/views/Playlists.vue";
import MusicSearch from "@/views/MusicSearch.vue";
@Component({
  components: {
    // 'Playlists':Playlists
    MusicSearch,
    Playlists
  }
})
export default class App extends Vue {}

// export default Vue.extend({
//  data:{},
//  methods:{}
// })
</script>


<style lang="scss">
</style>
