<template>
  <!-- div>.row*2>.col -->
  <div>
    <div class="row">
      <div class="col">
        <QueryInput class="mb-3" placeholder="Search albums" :value="query" @search="search"/>
        <!-- v-bind:value.native="query" -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <AlbumsGrid :albums="albums"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import AlbumsGrid from "@/components/AlbumsGrid.vue";
import QueryInput from "@/components/QueryInput.vue";
import { Album } from "@/models/Album";
import { musicSearch } from "@/services";
import { Route } from "vue-router";
import { mapGetters, mapActions } from "vuex";

@Component({
  components: {
    QueryInput,
    AlbumsGrid
  },
  beforeRouteUpdate(this: MusicSearch, to: Route, from: Route, next: Function) {
    next();
    this.queryChanged();
  },
  computed: {
    ...mapGetters({
      albums: "music/results",
      query: "music/query"
    }),
    // ...mapActions(['searchAlbums'])
  }
})
export default class MusicSearch extends Vue {
  created() {
    this.queryChanged();
  }

  queryChanged() {
    const query = this.$route.query["query"];

    if (typeof query === "string") {
      this.$store.dispatch("music/searchAlbums", query,);
      // this.searchAlbums(query)
    }
  }

  search(query: string) {
    // this.$router.push({
    this.$router.replace({
      name: "search",
      query: { query }
    });
  }
}
</script>