<template>
  <div>
    <div class="row">
      <div class="col">
        <!--  -->
        <QueryInput @search="filterPlaylists" :value="query" class="mb-3" placeholder="Search"/>
        <!--  -->
        <PlaylistsList :selected="selected" :items="filteredPlaylists" @select="select"/>
        <p>{{favouriteCount}} Favourite playlists</p>
      </div>
      <div class="col">
        <div v-if="selected && mode === 'show' ">
          <PlaylistDetails :playlist="selected" @edit="edit"/>
        </div>

        <div v-else-if="selected && mode === 'edit'">
          <PlaylistForm :playlist="selected" @save="save" @cancel="cancel"/>
        </div>

        <div v-else>
          <p>Please select playlist</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Playlist } from "@/models/Playlist";
import ItemsList from "@/components/ItemsList.vue";
import PlaylistDetails from "@/components/PlaylistDetails.vue";
import PlaylistForm from "@/components/PlaylistForm.vue";
import QueryInput from "@/components/QueryInput.vue";
import store from "@/store";
import { mapGetters, mapState, mapActions } from "vuex";

@Component({
  components: {
    PlaylistsList: ItemsList,
    PlaylistDetails,
    PlaylistForm,
    QueryInput
  },
  computed: {
    // ...mapState('playlists',['']),
    ...mapGetters(["favouriteCount", "filteredPlaylists", "query"])
  },
  methods: {
    ...mapActions({ filterPlaylists: "filter" })
  }
})
export default class Playlists extends Vue {
  // filterPlaylists(query: string) {
  //   this.$store.dispatch('filter',query)
  // }

  get playlists() {
    return this.$store.getters.playlists;
  }

  get selected() {
    return this.$store.getters.selected;
  }

  selectedId: Playlist["id"] | null = null;

  select(playlist: Playlist) {
    this.mode = "show";
    this.$store.dispatch("selectPlaylist", playlist.id);
  }

  mode = "show";

  edit() {
    this.mode = "edit";
  }

  cancel() {
    this.mode = "show";
  }

  save(draft: Playlist) {
    this.$store.dispatch("updatePlaylist", draft);
    this.mode = "show";
  }
}
</script>

<style lang="sass" scoped>

</style>

